/* CSS Document */
.login-verify .modal-content, .reg-verify .modal-content{
	border-radius:0px;
	overflow:hidden
}
.login-verify .modal-header,.reg-verify .modal-header  {
    padding: 0px;
    background: #FFF6F7;
}
.login-verify .modal-title {
    font-size: 16px;
    color: #6f6f6f;
	padding: 8px;
}
.login-verify .modal-header .close {
	margin-top:0px;
    padding: 9px 14px;
    background: #002723;
    opacity: 0.5;
}
.login-verify .close {
	font-size: 32px;
    margin-right: 8px;
}
.login-verify .modal-body {
    padding: 0px;
}
.offers-ads img{
	width: 248px;
    height: 400px;
}
.popup_model{
	padding: 18px 25px;
}
.popup_model h3{
	font-size: 18px;
    text-align: center;
    padding: 20px;
}
.form-section{	
    padding: 15px 0px;;
}
.form-section .form-control{
	border-radius:0px;
}
.form-btn {
    display: block;
    margin-bottom: 10px;
    width:100%;
	background: #0db8d0;
    color: #fff;
    border: 0px;
	font-size: 16px;
}
.form-btn:hover {
	background: #0db8d0;
	color:#fff;
}
.reg-verify .form-btn{
	width: auto;
    margin: 0 auto;
}
.reg-verify .checkbox{
	text-align:center;
}
#getlocation .modal-content{
	overflow:hidden;
}
#getlocation .popup_model h1{
	margin-bottom:10px;
}
#getlocation .popup_model h1,#getlocation .popup_model p{
	text-align:center;
	line-height:21px;
}
#getlocation .popup_model p{
	font-size: 15px;
}
#getlocation .popup_model button{
	    margin: 0 auto;
    display: block;
    padding: 8px 18px;
    margin-top: 20px;
    background: #0db8d0;
    color: #fff;
    font-size: 15px;
    border: none;
    box-shadow: none;
    border-radius: 4px;
}
