/* CSS Document */
/*//////////////////////////////////////////////////////// 361px and 480px /////////////////////////////////////////////*/
@media only screen and (min-width: 361px) and (max-width: 480px) {
#location-block .col-sm-9,#location-block .col-sm-3{
	float:left;
}
#location-block .col-sm-3{
	width:25%;
}
#location-block .col-sm-9{
	width:75%;
}
.warp-contant h2 {
    font-size: 18px;
}
.theme-main-header #logo{
	width:30%;
}	
.theme-main-header .navbar{
	width:70%;
	margin-left:0px;
}
.theme-main-header #logo,.theme-main-header .navbar{
	float:left;
}
.warp-contant h2{
	font-size:21px;
}
.theme-main-header #logo, .theme-main-header .navbar{
	float:left;
}
.main-grid-body {
	padding: 0px 0px;
}
.theme-main-footer ul,.theme-footer-warp ul {
	display: table;
	text-align: center;
	margin: 0 auto;
}
.theme-main-footer ul li a,.theme-footer-warp ul li a {
	padding: 0px 6px;
}
.theme-main-footer .block-warp,.theme-footer-warp .block-warp{
	margin: 10px 0px;
}
.theme-main-footer .block-warp>p.w-design,.theme-footer-warp .block-warp>p.w-design {
	text-align: center;
	float: inherit;
}
/* main header for home page */
.header-block .logo {
	width: 100px;
	float: left;
	border: none;
}
.header-block .logo-lg {
	display: none;
}
.header-block .logo-sm {
	display: block;
}
.cart {
	width: 45px;
	margin-left: 0px;
}
.cart .cart-t-price {
	display: none;
}
.account {
	width: 50px;
	font-size: 24px;
	border: none;
}
.account .user-reg {
	display: none;
}
.header-location {
	margin-left: 0px;
	width: calc(100% - 100px);
	padding-top: 10px;
}
.header-location .header-location-label {
	display: block;
	color: #f5f5f5;
	margin-bottom: 3px;
}
.header-location a, .header-location a:before, .header-location a:after {
	line-height: 15px;
}
.header-block-right {
	position: fixed;
	right: 0px;
	top: 0px;
}
.header-block-left {
	top: 0px;
	left: 0px;
	width: calc(100% - 100px);
}
.header-item-search {
	width: calc(100% - 30px);
	margin-left: 15px;
}
.header-location-name {
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 0px
}
.header-location-name:before {
	display: none;
}
#categories-block {
	width: calc(100% - 30px);
	margin-left: 15px;
}
#categories-block ul {
	display: none;
}
#categories-block select {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
	height: 35px;
	font-size: 14px;
}
.clear-header {
	padding-top: 100px;
}
.right-padding {
	padding-right: 15px;
}
.main-ads-block {
	display: none;
}
.title-image-block {
	display: none;
}
.nbs-flexisel-item>.col-md-12 {
	border-width: 1px;
}
.box-warper h1 {
	padding-bottom: 0px;
	border-bottom-width: 1px;
}
.box-warper h1 span {
	font-size: 17px;
	padding-bottom: 5px;
	border-bottom-width: 3px;
}
.theme-footer-warp ul{
}
#go-to-top{
	right:0px;
}
.cart-warper-model{
	width: 300px;
}
.cart-product-img, .cart-product-img img{
	width: 60px;
    height: 60px;
}
.cart-product-details {
    width: calc(100% - 70px);
}
.care-waper-body{
	height:480px;
}
.cart-pr-delete i.fa{
	padding-left:7px;
}
.offers-ads{
	display:none;
}
.login-verify .modal-dialog, #getlocation .modal-dialog{
	margin-top: 55px;
}
.reg-verify .popup_model{
	padding:0px;
}
.page-warper-title{
	
}
	.page-warper-title{
	border: 0px;
	border-bottom: 1px solid #c7c7c7;
	padding: 0px 0px;
	
}
 .toolbar-short,.toolbar-limit,.toolbar-pagenation{
	display: none;
}
/* Category Page */ 	
.box-warper-mobile h1 {
    display: block;
}	
.category-img{
	display: none;
}	
		
/* product View Page*/
.photo-gallery ul li img {
	height: 50px;
}
.add-to-product {
    width: 150px;
}
.delivary-date .form-inline select{
	margin-bottom: 0px;
}
.row.pro_specifications {
margin-top: 18px;
}
.pro_specifications .nav-tabs > li > a {
    font-size: 14px;
}	
.review_form {    
    width: 320px;
}
.pro_specifications .nav-tabs > li > a{
	padding: 8px 5px;
}	
	
/* Store Images */	
.store_img img, .shopkeeper_img img {
padding-right: 4px;
margin-bottom: 5px;
}	
.store_img img, .shopkeeper_img img, .gocery-slider .carousel-inner > .item > img {
    height: 190px;
	
}
.store-container .col-xs-6{
	width: 100%;	
}	
	
}

